<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.piotrdawidziuk.quizo2api">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/custom_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/custom_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.QuizFinishedActivity"></activity>
        <activity
            android:name=".activities.TakeQuizActivity"
            android:label="@string/title_activity_take_quiz" />
        <activity android:name=".activities.DetailActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
